@media(max-width: 1024px){
    .my_skills-block, .my_skills-photo {
        width: 100%;
        margin-bottom: 10px;
    }
    .bacground-items{
        width: 50%;
    }

}

@media(max-width: 768px){
    .about_me {
        width: 100%;
    }
    .bacground-items{
        width: 100%;
    }
    .form_container-input .input{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer_container{
        justify-content: center;
    }
    .head_log{
        margin-bottom: 20px;
    }
    .head_menu .head_menu-items .head_menu-item{
        width: 100%;
    }

}


