html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
p{
    margin:0;
}
h1{
    margin: 0;
    font-weight: 500;
}
ul{
    list-style: none;
    margin:0;
}
input{
    border:none;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1130px;
    padding: 0 15px;
    box-sizing: border-box;
}
.h1_logo{
    font-size: 48px;
    line-height: 79px;
    font-weight: normal;
}
.h2_log{
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    font-weight: normal;
}
.h3_logo{
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: normal;
    margin-bottom: 10px;
}
.text{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    font-weight: normal;
}

.btn_WD {
    background: #34547A;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    cursor: pointer;
    padding: 25px 41px;
}
/* Начало меню */
.head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #EEEFF1;


    
}
.header_container{
    display: flex;
    justify-content: space-between;
    margin-top:46px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 166px;
}
.head_menu{
    align-self: center;
}
.header_container-burger{
    display: none;
}
.head_menu .head_menu-items .head_menu-item a{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
.head_menu .head_menu-items .head_menu-item a:hover{
    color:#34547A;
}
.head_menu .head_menu-items{
    display: flex;
    flex-wrap: wrap;
}

.head_menu .head_menu-items .head_menu-item{
    margin-right: 42px;
}
/* Конец меню */

/* Подвал шапки */
.bottom_header{
    display: flex;
    margin-bottom: 157px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bottom_header-info-content{
    max-width: 540px;
}

.bottom_header-info-content .text_logo{
    margin: 60px 0;
}

/*Конец подвал шапки */

/*Обо мне*/

.about_me{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.about_me .text_about{
    max-width: 540px;
    text-align: center;
    margin-top:50px;
}

/*Обо мне конец*/
/*Скиллбар */
.skillbar{
    background: #34547A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skillbar_h2{
    font-size: 24px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top:20px;
}
.skillbar_container{
    width: 100%;
}
.skillbar_container-items{
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    flex-wrap: wrap;
}
.skillbar_container-item{
    display: flex;
    margin-top:15px;
    margin-bottom:15px;
}
.skillbar_container-item-text{
    margin-left: 20px;
}
.skillbar_container-item-text span{
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}
.skillbar_container-item-text p{
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
/*Скиллбар конец*/

/* work */
.my_skills{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.my_skills-block{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.my_skills-photo{
    width: 50%;
}
.my_skills_container{
    display: flex;
    flex-wrap: wrap;
}
.h2_myskils{
    text-align: left;
}
.text-skill-border{
    
    max-width: 400px;
    padding-bottom: 20px;
    margin-top: 30px;
    position: relative;
}
.text-skill-border::before{
    content: '';
    background: linear-gradient(to right, #34547A, #C4C4C4);
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 4px;
}
/* work конец*/

/* Как я работаю блок */

.work{
    background: #EEEFF1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.work_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work_text{
    text-align: center;
    margin-top:50px;
    max-width: 540px;
    margin-bottom: 50px;
}

/* Как я работаю блок конец*/

/* Колаж */
.collaj_container-items{
    display: flex;
    flex-wrap: wrap;

}
.collaj_h2{
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}
.bacground-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bacground-items img{
    display: none;
}
.bacground-items:hover img{
    display: block;
}
.bacground-items{
    width: 33%;
}
.bacground-items:nth-of-type(even){
    background: url('../img/nootebook.png');
    height: 480px;

}
.bacground-items:nth-of-type(odd){
    background: url('../img/paper.png');
    height: 480px;

}
.bacground-items:nth-of-type(odd):hover{
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url('../img/paper.png');
}
.bacground-items:nth-of-type(even):hover{
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url('../img/nootebook.png');
}
.collaj_container-items > img:hover{
    opacity: 0.8;
    
}
.microsoft_container{
    margin: 72px auto 100px;
}
.microsoft_container-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Колаж конец */

/* Форма */
    .form_me{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        background: #EEEFF1;
    }
.form_me .text_form{
    text-align: center;
    max-width: 540px;
    margin:50px 0;
}
.form_container-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_container-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 540px;
}
.form_container-input .input{
    width: calc(225px - 20px);
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    padding:18px 20px;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    outline: none;
    border:none;
}
.form_container-input .textarea{
    width: 100%;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    padding:18px 20px;
    margin:20px 0;
    resize: none;
    outline: none;
    border:none;
}

.form_container-input .text_me_btn{
    margin:0 auto;
}
/* Конец форма */
/* Подвал */
.footer{
    background: #34547A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    flex-wrap: wrap;
}
.copyright{
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF
}
.footer_right{
    display: flex;
    align-self: center;
}
.footer_right .social{
margin-right: 20px;
}
/* конец подвал */